:root {
  --colorBorder: #ddd;
  --colorWhite: #fff;
  --colorBlack: #333;
  --colorGray: #666;
  --colorDarkBlack: #101010;
  --colorRed: #e5006b;
  --colorBlue: #6aafe6;
  --colorDarkBlue: #024274;
  --colorLogo: #7367f0;
  --colorHover: #f8faff;
  --colorBackground: #f6f8fa;
  --colorStar: #fd8309;
  --colorMint: #00c3bd;
  --colorYellow: #fce205;
  --colorLogoYellow: #fad393;
  --colorBackgroundGray: #717171;
  --colorBackgroundBeige: #f5f5f5;
  --colorHover: #c30d23;
}

// 헤더
.Sun {
  color: #f57373 !important;
}
.container {
  transition: 300ms ease all;
  width: calc(100% - 80px);
  height: 100%;
  margin: 0 0 0 auto;
  position: relative;
  padding: 10.75rem 8rem 0 2rem;
  margin-left: 80px;
  padding: calc(2rem + 4.45rem + 1.3rem) 2rem 0;
}
.width1440 {
  width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 260px) !important;
  left: 260px;
}
.margin260 {
  margin-left: 260px !important;
  width: calc(100vw - (100vw - 100%) - 260px) !important;
}
.MobileBackground {
  display: none;
}
// 사이드 메뉴
.SideCotainer {
  width: 260px;
  transition: 0.3s !important;
  box-shadow: 0 0 15px 0 rgba(34, 41, 47, 0.05);
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0s;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  color: #6e6b7b;
  background: #fff;
  z-index: 1031;
  display: table-cell;
  height: 100%;
  overflow: hidden;
  .Logo {
    height: 6.45rem;
    position: relative;
    padding: 0.35rem 1rem 0.3rem 1rem;
    transition: all 0.3s ease, background 0s;
    .OpenLogo {
      padding-left: 1rem;
      display: flex;
      align-items: center;
      gap: 45px;
      margin-top: 1.35rem;
      width: 233px;
      justify-content: space-between;
      li {
        a {
          display: flex;
          align-items: center;
          font-size: inherit;
        }
        button {
          border: 0;
          font-size: 24px;
          background: transparent;
          color: var(--colorLogo);
          &:hover:not(.disabled):not(:disabled) {
            box-shadow: 0 8px 25px -8px #7367f0;
            border-radius: 50%;
          }
        }
        span {
          color: black;
          padding-left: 1.2rem;
          margin-bottom: 0;
          font-weight: 600;
          letter-spacing: 0.01rem;
          font-family: "Adobe", sans-serif !important;
          font-size: 17px;
        }
        img {
          width: 36px;
          height: 100%;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
  .SideMenuList {
    height: calc(100% - 6.45rem) !important;
    position: relative;
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
    .MenuList {
      background: #fff;
      transition: 0.3s !important;
      overflow-x: hidden;
      padding-bottom: 0.75rem;
      .MenuItem {
        margin-top: 0.5rem;
        position: relative;
        white-space: nowrap;
        > .MenuTitle {
          color: #a6a4b0;
          margin: 1.5rem 15px 1.5rem 30px;
          padding: 0;
          letter-spacing: 0.01rem;
          span {
            display: none;
            line-height: 24px;
          }
          i {
            color: #a6a4b0;
            padding: 0;
            letter-spacing: 0.01rem;
            /* margin: 0 15px; */
            text-align: center;
          }
        }
        a {
          transition: all 0.5s ease, background 0s, color 0s;
          margin: 0 15px;
          color: #625f6e;
          padding: 10px 15px;
          line-height: 1.45;
          text-overflow: ellipsis;
          overflow: hidden;
          display: flex !important;
          gap: 14px;
          font-weight: 300;
        }
        i {
          font-size: 24px;
        }
        a::after {
          content: " ";
          width: 0;
          height: 1px;
          display: block;
          border: 0px solid var(--colorLogo);
          position: absolute;
          bottom: 6px;
          transition: width 0.3s ease;
        }
        &:hover a::after {
          width: 70%;
          border-width: 1px;
        }
        .active {
          background: linear-gradient(
            118deg,
            #7367f0,
            rgba(115, 103, 240, 0.7)
          );
          box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
          color: #fff !important;
          font-weight: 300;
          border-radius: 4px;
        }
        &:hover .active::after {
          display: none;
        }
      }
    }
  }
  &.SideBox {
    width: 80px;
  }

  &:hover {
    width: 260px;
    .MenuTitle {
      span {
        display: block !important;
      }
      i {
        display: none !important;
      }
    }
  }
}

// 헤더 메뉴
header {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  background: #fff;
  padding: 0;
  min-height: 4.45rem;
  transition: all 0.3s ease, background 0s;
  align-items: center !important;
  flex-flow: row nowrap;
  justify-content: flex-start;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 1.3rem;
  border-radius: 0.428rem;
  z-index: 12;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - (100vw - 100%) - 4.4rem - 74px);
  left: 80px;
  .header_content {
    padding: 0.8rem 1rem;
    flex-basis: 100%;
    transition: all 0.3s ease;
    margin-left: 0;
    backface-visibility: hidden;
    min-height: calc(100% - 3.35rem);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > .MobileMenuOpen {
      font-size: 26px;
      display: none;
      color: #d0d2d6;
      background: transparent;
      border: 0;
    }
    > ul {
      display: flex;
      gap: 5px;
      > li {
        position: relative;
        button {
          color: #6e6b7b;
          padding: 0 0.5rem;
          position: relative;
          border: 0;
          background: transparent;
          font-size: 26px;
        }

        .UserTab {
          position: absolute;
          will-change: transform, top;
          top: 90px;
          width: 12rem;
          margin-top: 10px;
          animation-duration: 0.3s;
          animation-fill-mode: both;
          right: -300px;
          left: auto !important;
          border-radius: 0.358rem;
          box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
          min-width: 10rem;
          padding: 0.5rem 0;
          margin: 0;
          font-size: 14px;
          color: #6e6b7b;
          text-align: left;
          list-style: none;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(34, 41, 47, 0.05);
          opacity: 0;
          transform: translateY(-10px);
          transition: opacity 0.3s, transform 0.3s, top 0.3s;
          ul {
            display: flex;
            flex-direction: column;
            > li {
              position: relative;
              width: 100%;
              padding: 0.65rem 1.28rem;
              clear: both;
              font-weight: 300;
              color: #6e6b7b;
              text-align: inherit;
              white-space: nowrap;
              background-color: transparent;
              border: 0;
              display: flex;
              gap: 10px;
              a {
                width: 100%;
              }
            }
          }
        }
        .hide {
          opacity: 1;
          transform: translateY(-10px);
          right: 0 !important;
          top: 50px;
        }
      }
    }
  }
  .SearchBox {
    position: relative;
    width: 100%;
    input {
      outline: none;
      background: none;
      height: auto;
      box-shadow: none;
      transition: all 0.3s ease-out;
      line-height: 16px;
      padding: 1.6rem 3.6rem;
      color: #6e6b7b;
      font-size: 1rem;
      width: 100%;
      border: 0;
      font-weight: 300;
    }
    .SearchBtn {
      position: absolute;
      left: 1rem;
      top: 34%;
      font-size: 19px;
      top: 27%;
      border: 0;
      background: transparent;
    }
    .CloseBtn {
      position: absolute;
      right: 1.5rem;
      top: 27%;
      font-size: 19px;
      border: 0;
      background: transparent;
    }
  }
}
// 기본 틀
.content {
  border-radius: 0.428rem;
  z-index: 5;
  background: #fff;
  padding: 1.5rem;
  width: 100%;
  transition: all 0.3s ease, background 0s, width 0.3s;
  > .contentWrap {
    display: flex;
    width: 100%;
    gap: 20px;
    .chart {
      width: 100%;
      border: none;
      margin-bottom: 2rem;
      box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
      transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
      min-height: 1px;
      padding: 1.5rem;
      border-radius: 4px;
      canvas {
        width: 100% !important;
        max-height: 400px !important;
        height: 100% !important;
      }
    }
    .board {
      border: none;
      margin-bottom: 2rem;
      position: relative;
      width: 50%;
      > a {
        overflow: hidden;
        font-weight: 500;
        text-align: right;
        display: block;
        border-color: #7367f0 !important;
        background-color: #7367f0 !important;
        color: #fff !important;
        padding: 0.786rem 1.5rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0.358rem;
        width: 100px;
        &:hover:not(.disabled):not(:disabled) {
          box-shadow: 0 8px 25px -8px #7367f0;
        }
      }
      .board_Wrap {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        > .boardTable {
          width: 100%;
          border-radius: 0.428rem;
          box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
          transition: all 0.3s ease-in-out, background 0s, color 0s,
            border-color 0s;
          position: relative;
          min-width: 0;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          font-size: 14px;
          thead {
            background-color: #f3f2f7;
            tr {
              th {
                vertical-align: top;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 0.72rem 0.5rem;
                color: #6e6b7b;
                text-align: center;
              }
            }
          }
          tbody {
            tr {
              td {
                position: relative;
                padding: 1rem 0.5rem;
                vertical-align: middle;
                border-top: 1px solid #ebe9f1;
                color: #6e6b7b;
                text-align: center;
                button {
                  background: transparent;
                  border: 0;
                }
                .boardUpdateBox {
                  position: absolute;
                  padding: 0.5rem 0;
                  margin: 0;
                  font-size: 1rem;
                  z-index: 10;
                  color: #6e6b7b;
                  text-align: left;
                  list-style: none;
                  background-color: #fff;
                  background-clip: padding-box;
                  border: 1px solid rgba(34, 41, 47, 0.05);
                  border-radius: 0.358rem;
                  box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
                  min-width: 8rem;
                  left: 20%;
                  a {
                    display: block;
                    padding: 0.65rem 1.28rem;
                    clear: both;
                    font-weight: 300;
                    color: #6e6b7b;
                    white-space: nowrap;
                    background-color: transparent;
                    border: 0;
                    width: auto;
                    cursor: pointer;
                    text-align: center;
                    &:hover {
                      color: #7367f0;
                      text-decoration: none;
                      background-color: rgba(115, 103, 240, 0.12);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .log {
      width: 100%;
    }
  }
}

// 페이지 네이션
.pagination {
  background-color: #f3f2f7;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  height: 40px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  li {
    display: inline-block;
    margin: 2px 0 0;
    a {
      color: #636363;
      line-height: 20px;
      cursor: pointer;
      display: inline-block;
      height: 32px;
      min-width: 24px;
      line-height: 32px;
      padding: 0;
      border-radius: 3px;
      margin: 0 3px;
      text-align: center;
      vertical-align: top;
      text-decoration: none;
      vertical-align: bottom;
    }
    .click {
      background-color: #7367f0 !important;
      color: #fff !important;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.notice {
  .notice_Search {
    max-width: 300px;
    width: 100%;
    margin: 0 0 0 auto;
    padding-bottom: 1.5rem;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 2.714rem;
      padding: 0.438rem 1rem 0.438rem 3rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.45;
      color: #6e6b7b;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d8d6de;
      border-radius: 0.357rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    i {
      position: absolute;
      top: 10px;
      font-size: 16px;
      left: 13px;
    }
  }
  > .contentWrap {
    .board {
      .board_Wrap {
        padding-top: 0;
        tbody {
          tr {
            td {
              &:nth-child(3) {
                text-align: left !important;
              }
            }
          }
        }
      }
    }
  }
}

// 로그인페이지
.Login_wrap {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  .LoginLeftImg {
    max-width: 66.6666666667%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .LoginRightForm {
    max-width: 33.3333333333%;
    padding: 15rem 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    h2 {
      line-height: 1.2;
      font-weight: 500 !important;
      color: #5e5873;
      font-size: 25px;
      padding-bottom: 4rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 2rem;
      .form-group {
        .form-label {
          display: inline-block;
          margin-bottom: 10px;
          color: #5e5873;
        }
        .form-control {
          display: block;
          width: 100%;
          height: 2.714rem;
          padding: 0.438rem 1rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.45;
          color: #6e6b7b;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #d8d6de;
          border-radius: 0.357rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
      }
      button {
        border-color: #7367f0 !important;
        background-color: #7367f0 !important;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.786rem 1.5rem;
        line-height: 1;
        border-radius: 0.358rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
          background 0s, border 0s;
        box-shadow: none;
        font-weight: 500;
        display: block;
        width: 100%;
        font-size: 16px;
        &:hover:not(.disabled):not(:disabled) {
          box-shadow: 0 8px 25px -8px #7367f0;
        }
      }
    }
    .call {
      > span {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 0.9375rem;
        padding: 0 1rem;
        &::after {
          display: block;
          position: absolute;
          content: " ";
          width: 46%;
          left: 0;
          top: 50%;
          border-top: 1px solid #ebe9f1;
        }
        &::before {
          display: block;
          position: absolute;
          content: " ";
          width: 46%;
          right: 0;
          top: 50%;
          border-top: 1px solid #ebe9f1;
        }
      }
    }
    .callNumber {
      text-align: center;
      font-size: 14px;
      color: #5e5873;
      padding-top: 1rem;
    }
  }
}

// Goto
.goto_top {
  position: fixed;
  bottom: 5%;
  right: 30px;
  z-index: 99;
  display: none;
  button {
    border-color: #7367f0 !important;
    background-color: #7367f0 !important;
    color: #fff !important;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.358rem;
    padding: 0.715rem 0.736rem;
    border: 0;
    width: 36px;
    height: 36px;
    opacity: 1;
    display: block;
    transition: all 0.2s ease-in-out;
    &:hover:not(.disabled):not(:disabled) {
      box-shadow: 0 8px 25px -8px #7367f0;
    }
  }
}
// 게시판 수정 페이지
.board_update {
  border-radius: 0.428rem;
  width: 100%;
  transition: all 0.3s ease, background 0s, width 0.3s;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  background: #fff;
  padding: 1.5rem;
  form {
    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding-bottom: 2.6rem;
      > li {
        width: calc(100% / 2 - 2rem);
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          color: #5e5873;
          font-size: 1rem;
        }
        input,
        select {
          display: block;
          width: 100%;
          height: 2.714rem;
          padding: 0.438rem 1rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.45;
          color: #6e6b7b;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #d8d6de;
          border-radius: 0.357rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
        span {
          width: 100% !important;
          height: 38px !important;
        }
      }
    }
    .board_btn {
      padding-top: 1.5rem;
      text-align: right;
      .board_submit {
        border-color: #7367f0 !important;
        background-color: #7367f0 !important;
        color: #fff !important;
        border: 1px solid transparent;
        padding: 0.786rem 1.5rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0.358rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
          background 0s, border 0s;
        display: inline-block;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        &:hover:not(.disabled):not(:disabled) {
          box-shadow: 0 8px 25px -8px #7367f0;
        }
      }
      .board_close {
        padding: 0.786rem 1.5rem;
        margin-right: 1rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0.358rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
          background 0s, border 0s;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        display: inline-block;
        border: 1px solid #82868b !important;
        background: transparent;
        color: #82868b;
        &:hover:not(.disabled):not(:disabled) {
          background-color: hsla(213, 4%, 53%, 0.04);
          color: #82868b;
        }
      }
    }
  }
}
.board_create {
  position: fixed;
  bottom: 5%;
  right: 79px;
  z-index: 1031;
  a {
    border-color: #ea5455 !important;
    background-color: #ea5455 !important;
    color: #fff !important;
    display: inline-block;
    font-weight: 300;
    color: #6e6b7b;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.786rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: 0.358rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      background 0s, border 0s;
    &:hover:not(.disabled):not(:disabled) {
      box-shadow: 0 1px 20px 1px #ea5455 !important;
    }
  }
}

// 멤버 업데이트
.member_update {
  border-radius: 0.428rem;
  width: 100%;
  transition: all 0.3s ease, background 0s, width 0.3s;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  background: #fff;
  padding: 1.5rem;
  form {
    > ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding-bottom: 2.6rem;
      > li {
        width: calc(100% / 2 - 2rem);
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          color: #5e5873;
          font-size: 1rem;
        }
        input,
        select {
          display: block;
          width: 100%;
          height: 2.714rem;
          padding: 0.438rem 1rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.45;
          color: #6e6b7b;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #d8d6de;
          border-radius: 0.357rem;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
        span {
          width: 100% !important;
          height: 38px;
        }
      }
    }
    .member_btn {
      padding-top: 1.5rem;
      text-align: right;
      .member_submit {
        border-color: #7367f0 !important;
        background-color: #7367f0 !important;
        color: #fff !important;
        border: 1px solid transparent;
        padding: 0.786rem 1.5rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0.358rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
          background 0s, border 0s;
        display: inline-block;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        &:hover:not(.disabled):not(:disabled) {
          box-shadow: 0 8px 25px -8px #7367f0;
        }
      }
      .member_close {
        padding: 0.786rem 1.5rem;
        margin-right: 1rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0.358rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
          background 0s, border 0s;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        display: inline-block;
        border: 1px solid #82868b !important;
        background: transparent;
        color: #82868b;
        &:hover:not(.disabled):not(:disabled) {
          background-color: hsla(213, 4%, 53%, 0.04);
          color: #82868b;
        }
      }
    }
  }
}
// ck-editor

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  min-height: 500px;
}
// 방문자 관리
.online_list {
  width: 100%;
  border-radius: 0.428rem;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  font-size: 14px;
  padding: 1.5rem;
  .day_group {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    input {
      padding: 0.438rem 1rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.45;
      border-color: #7367f0 !important;
      color: #7367f0;
      background-clip: padding-box;
      border: 1px solid #d8d6de;
      border-radius: 0.357rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      outline: 0;
    }
    span {
      font-weight: bold;
      color: #7367f0;
      padding: 0 5px;
      font-size: 20px;
    }
    button {
      border-color: #7367f0 !important;
      background-color: #7367f0 !important;
      color: #fff !important;
      border: 1px solid transparent;
      padding: 0.786rem 1.5rem;
      font-size: 1rem;
      line-height: 1;
      border-radius: 0.358rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        background 0s, border 0s;
      &:hover:not(.disabled):not(:disabled) {
        box-shadow: 0 8px 25px -8px #7367f0;
      }
    }
  }
  .day_chart {
    height: 100%;
    max-height: 500px;
    canvas {
      width: 100% !important;
      max-height: 400px !important;
      height: 100% !important;
    }
  }
}
.header-navbar-shadow.ng-star-inserted {
  display: block;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 97%, 0.95) 44%,
    hsla(0, 0%, 97%, 0.46) 73%,
    hsla(0, 0%, 100%, 0)
  );
  padding-top: 2.2rem;
  background-repeat: repeat;
  width: 100%;
  height: 102px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.DarkMode {
  transition: 0.3s;
  background-color: #161d31 !important;
  header {
    background-color: #283046;
    .header_content {
      > ul {
        > li {
          .UserTab {
            background-color: #283046;
            box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.24);
            ul {
              > li {
                color: #d0d2d6;
              }
            }
          }
          button {
            color: #d0d2d6;
          }
        }
      }
    }
  }
  .content > .contentWrap .chart {
    background-color: #283046;
  }
  .content > .contentWrap .board .board_Wrap .boardTable thead tr th {
    background-color: #343d55;
    color: #d0d2d6;
  }
  .content > .contentWrap .board .board_Wrap .boardTable tbody tr td {
    border-color: #3b4253 !important;
    color: #b4b7bd;
    background-color: #283046;
  }
  .content > .contentWrap .board .board_Wrap .boardTable tbody tr td i {
    color: #b4b7bd;
  }
  .header-navbar-shadow.ng-star-inserted {
    background: linear-gradient(
      180deg,
      rgba(22, 29, 49, 0.9) 44%,
      rgba(22, 29, 49, 0.43) 73%,
      rgba(22, 29, 49, 0)
    );
  }
  .content {
    background-color: #283046 !important;
  }
  .content > .contentWrap .board .board_Wrap > h2 {
    color: #b4b7bd;
  }
  header .SearchBox .SearchBtn {
    * {
      color: #b4b7bd;
    }
  }
  header .SearchBox .CloseBtn {
    * {
      color: #b4b7bd;
    }
  }
  header .SearchBox input,
  header .SearchBox input::placeholder {
    color: #b4b7bd;
  }
  .Side {
    .SideCotainer {
      background-color: #283046;
    }
  }
  .SideCotainer .SideMenuList .MenuList {
    background-color: #283046;
  }
  .SideCotainer .Logo .OpenLogo li span {
    color: white;
  }
  .SideCotainer .SideMenuList .MenuList .MenuItem a {
    color: #b4b7bd;
  }
  .pagination {
    background-color: #242b3d !important;
    li {
      a {
        color: #b4b7bd;
      }
    }
  }
  .notice .notice_Search input {
    background: transparent;
    border-color: #404656;
    color: #b4b7bd;
  }
  .notice .notice_Search i {
    color: #b4b7bd;
  }
  .online_list .day_group input {
    background: transparent;
    color: #b4b7bd;
  }
  .board_update {
    background-color: #283046;
  }
  .board_update form > ul > li input,
  .board_update form > ul > li select {
    color: #b4b7bd;
    background: transparent;
    &::placeholder {
      color: #b4b7bd;
    }
  }
  .board_update form > ul > li label {
    color: #b4b7bd;
  }
  .board_update form .board_btn .board_close {
    border-color: white !important;
    color: white !important;
  }
  .select2-container--default .select2-selection--multiple {
    background: transparent;
  }
  .select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: solid #b4b7bd 1px;
  }
  .select2-container--default .select2-search--inline .select2-search__field {
    color: #b4b7bd;
  }
  .member_update {
    background-color: #283046;
  }
  .member_update form > ul > li input,
  .member_update form > ul > li select {
    color: #b4b7bd;
    background: transparent;
    &::placeholder {
      color: #b4b7bd;
    }
  }
  .member_update form > ul > li label {
    color: #b4b7bd;
  }
  .member_update form .member_btn .member_close {
    border-color: white !important;
    color: white !important;
    transition: 0.3s !important;
  }
  .member_update
    form
    .member_btn
    .member_close:hover:not(.disabled):not(:disabled) {
    background: white !important;
    color: black !important;
    border: 0;
  }
  .board_update
    form
    .board_btn
    .board_close:hover:not(.disabled):not(:disabled) {
    background: white !important;
    color: black !important;
    border: 0;
  }
}
.inline_block {
  display: inline-block;
}
.none {
  display: none !important;
}
.block {
  display: block !important;
}
@media (max-width: 1200px) {
  .width1440 {
    width: calc(100% - 4rem) !important;
  }
  .container {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 7.75rem 2rem 0;
  }
  header {
    .header_content {
      justify-content: space-between;
      > .MobileMenuOpen {
        display: block;
      }
    }
    width: calc(100% - 4rem) !important;
    left: 0 !important;
  }
  .Side {
    .SideCotainer {
      width: 260px !important;
      opacity: 0;
      transform: translateZ(0);
      left: -260px;
      .Logo {
        .OpenLogo {
          li {
            &:nth-child(2) {
              display: none;
            }

            &:nth-child(3) {
              display: block;
            }
          }
        }
      }
    }
    .MobileBackground {
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 13;
      background-color: rgba(34, 41, 47, 0.5);
    }
    .MobileMenu {
      opacity: 1;
      transform: translate3d(260px, 0, 0);
      transition: width 0.25s, opacity 0.25s, transform 0.25s;
    }
  }
  .content {
    > .contentWrap {
      flex-direction: column;
      gap: 0;
      .board {
        width: 100%;
      }
    }
  }
  #MenuTitleIcon {
    display: none !important;
  }
  #MenuTitleText {
    display: inline-block !important;
  }
}

@media (max-width: 768px) {
  .board_update form {
    > ul {
      flex-direction: column;
      gap: 1.5rem;
      padding-bottom: 1.5rem;
      li {
        width: 100%;
        gap: 10px;
      }
    }
  }
  .member_update form {
    > ul {
      flex-direction: column;
      gap: 1.5rem;
      padding-bottom: 1.5rem;
      li {
        width: 100%;
        gap: 10px;
      }
    }
  }
  .board {
    > a {
      text-align: left !important;
    }
  }

  .board_Wrap {
    padding: 2.5rem 0 1.5rem 0;
    width: 100%;
    overflow-x: scroll;
  }

  .boardTable {
    width: 768px !important;
  }
  // 방문자 기록
  .online_list .day_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      display: none;
    }
  }
  // 게시판 작성
  .content
    > .contentWrap
    .board
    .board_Wrap
    > .boardTable
    tbody
    tr
    td
    .boardUpdateBox {
    left: -46%;
    top: -71%;
  }
}
