:root {
  --colorBorder: #ddd;
  --colorWhite: #fff;
  --colorBlack: #333;
  --colorGray: #666;
  --colorDarkBlack: #101010;
  --colorRed: #e5006b;
  --colorBlue: #6aafe6;
  --colorDarkBlue: #024274;
  --colorLogo: #029dd6;
  --colorHover: #f8faff;
  --colorBackground: #f6f8fa;
  --colorStar: #fd8309;
  --colorMint: #00c3bd;
  --colorYellow: #fce205;
  --colorLogoYellow: #fad393;
  --colorBackgroundGray: #717171;
  --colorBackgroundBeige: #f5f5f5;
  --colorHover: #c30d23;
}
.active {
  background: #0d51c5;
  color: white;
}
.wrap {
  max-width: 1480px;
  margin: 0 auto;
  position: relative;
  font-family: "IBMPlexSansKR";
  margin-top: 0;
}
.hide {
  display: none !important;
}
.open {
  display: block !important;
}
.text_hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
header {
  z-index: 977;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  /* background: #fff; */
}
.header_wrap {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100px;
}
.pclogo {
  width: 271px;
  position: absolute;
  display: block;
  left: 0;
  top: 24px;
}
.pclogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headerMenuList {
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
}
.headerMenuList li {
  display: block;
  height: 100px;
  padding: 0 25px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
}
.headerMenuList li a {
  height: 100%;
  display: block;
}
.headerMenuList li a:hover {
  color: #0d51c5;
}

.SideMenuOpenBtn {
  display: block;
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
  font-size: 42px;
  height: 100%;
}
.SideMenuOpenBtn i {
  color: white;
}
.headerMenuList li:hover .MenuBox {
  display: block;
}

.SubPageHeader {
  background: white !important;
}
.SubPageHeader .white_logo {
  display: none !important;
}
.SubPageHeader .black_logo {
  display: block !important;
}
.SubPageHeader .headerMenuList {
  color: #000 !important;
}
.MenuBox {
  display: none;
}
.subMenuList {
  position: absolute;
  left: 0;
  top: 100px;
  height: 300px;
  background: #fff;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 3px 5px 0px #ddd;
  display: none;
}

.subMenuList .sub_Left {
  height: 300px;
  width: 20%;
  background-size: cover;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  position: relative;
}
.subMenuList .sub_Left span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
}
.subMenuList .sub_Left img {
  width: 100%;
  height: 100%;
}

.subMenuList .sub_Right {
  width: 80%;
}
.subMenuList .sub_Right ul {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  font-size: 0;
}
.subMenuList .sub_Right ul li {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
  width: 18%;
}
.subMenuList .sub_Right ul li a {
  padding: 10px 0;
  font-size: 17px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
}
.subMenuList .sub_Right ul li a:hover {
  background: #0d51c5;
  color: white;
}
/* 메인 swiper */

.MainSwiperContainer {
  width: 100%;
  height: 100vh;
}
.MainSwiperContainer .MainSwiper {
  height: 100%;
}
.MainSwiperContainer .swiper-wrapper {
  height: 100%;
}
.MainSwiperContainer .swiper-slide {
  height: 100%;
}
.MainSwiperContainer .swiper-slide img {
  width: 100%;
  filter: brightness(75%);
  height: 100%;
  object-fit: cover;
}
.MainSwiper .slide_btn {
  position: absolute;
  right: 100px;
  top: 50%;
  z-index: 9;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MainSwiperContainer .start {
  border: 0;
  font-size: 30px;
  width: 50px;
  transition: all ease 0.3s;
  height: 50px;
  background: white;
  border-radius: 50%;
  padding-left: 10px;
}

.MainSwiperContainer .pause {
  border: 0;
  font-size: 30px;
  width: 50px;
  height: 50px;
  transition: all ease 0.3s;
  background: white;
  border-radius: 50%;
}
.MainSwiperContainer .pause:hover,
.MainSwiperContainer .start:hover {
  background: #029dd6;
  color: white;
}
.MainSwiperContainer .swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.MainSwiperContainer .swiper-slide .title {
  font-size: 2vw;
  font-weight: bold !important;
  display: block;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: 0%;
  top: 15vw;
  z-index: 9;
  line-height: 1;
  width: 100%;
  padding-left: 5vw;
}

.MainSwiperContainer .swiper-slide .subtitle {
  font-size: 4vw;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: 0%;
  top: 20.5vw;
  z-index: 9;
  width: 100%;
  padding-left: 5vw;
  display: block;
  line-height: 1;
}

.MainSwiperContainer .swiper-slide .text {
  font-size: 2vw;
  color: #fff;
  position: absolute;
  left: 0%;
  z-index: 9;
  top: 28vw;
  padding-left: 5vw;
  font-weight: 400;
  line-height: 4vw;
  width: 100%;
  display: block;
}
.MainSwiperContainer .title,
.MainSwiperContainer .text {
  transition-duration: 1000ms;
  transform: translate3d(100%, 0, 0);
}
.MainSwiperContainer .subtitle {
  transition-duration: 1500ms;
  transform: translate3d(100%, 0, 0);
}
.MainSwiperContainer .text {
  transition-duration: 2000ms;
  transform: translate3d(100%, 0, 0);
}
.MainSwiperContainer .swiper-slide-active .title,
.MainSwiperContainer .swiper-slide-active .subtitle,
.MainSwiperContainer .swiper-slide-active .text {
  transform: translate3d(0, 0, 0) !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #029dd6;
  color: white;
}
/* pop */

.pop_container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1480px;
  display: flex;
  gap: 100px;
}
.pop_container .pop_left {
  width: 60%;
  position: relative;
}

.pop_container .pop_left h3 {
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  font-weight: 800;
}
.pop_container .pop_left h3 span {
  color: #029dd6;
  font-weight: 900;
}
.pop_container .pop_menu {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 42px;
}
.pop_container .pop_menu > div > button {
  display: block;
  position: relative;
  border: 0;
  background: transparent;
  padding: 0 15px;
  color: #888888;
  font-size: 18px;
  font-weight: bold;
}
.pop_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop_link {
  position: absolute;
  right: 0;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  border: 1px solid #818181;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #818181;
  /* opacity: 0.5; */
  font-weight: bold;
  transition: all ease 0.7s;
}
.pop_link:hover {
  transform: rotate(90deg);
  border: 0;
  background: #0d51c5;
  color: white;
  font-weight: bold;
}
.pop_menu div button {
  position: relative;
}
.pop_menu div button.Click {
  color: #029dd6;
}
.pop_menu div button.Click:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 5px;
  border-radius: 8px;
  background: #f54444;
  width: 8px;
  height: 8px;
}
.tabled > div {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  flex-wrap: nowrap;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}
.tabled > div > div:nth-child(1) {
  flex-basis: 15%;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  width: 50px;
  border-radius: 34px;
  background: #029dd6;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}
.tabled > div > div:nth-child(2) {
  flex-basis: 63%;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
}
.tabled > div > div:nth-child(3) {
  flex-basis: 22%;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  color: #909090;
  text-align: right;
}
.tabled {
  border-top: 2px solid #000;
  width: 100%;
}
.pop_container .pop_right h3 {
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  font-weight: 800;
}
.pop_container .pop_right h3 span {
  color: #029dd6;
  font-weight: 900;
}
.pop_container .pop_right {
  display: flex;
  flex-direction: column;
  width: 40%;
  float: right;
  min-height: 262px;
}
.pop_right .pop_bottom {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 25px;
  background: #eaeade;
  border-radius: 0 20px 0 60px;
  position: relative;
}
.pop_right .pop_bottom > img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
.pop_right .pop_bottom .pop_text {
  position: absolute;
  top: 22%;
  text-align: left;
  font-size: 19px;
  line-height: 1;
  font-weight: bold;
  right: 6.5%;
}
.pop_right .pop_bottom .pop_text span {
  font-size: 41px;
  line-height: 1.5;
}

.pop_right .pop_bottom .pop_bottomLogo {
  width: 150px;
  position: absolute;
  bottom: 2%;
  right: 1%;
}
.pop_right .pop_bottom .pop_bottomLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gallery */
.gallery_container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1480px;
  display: flex;
}
.gallery_container img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.gallery_container .gallery_Box {
  position: relative;
  padding-top: 2rem;
}
.gallery_container .gallery_Box img {
  border-radius: 10px;
}
.gallery_container .gallery_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 0 10px;
  border-radius: 0px 0 10px 10px;
}
.gallery_swiper {
  position: relative;
  height: 340px;
}
.gallery_swiper .swiper-pagination-bullet {
  background: #029dd6;
}
.gallery_swiper .swiper-pagination {
  bottom: 0px !important;
}

/* footer */

.footers1 {
  background: #f9f9f9;
  position: relative;
  height: 250px;
  color: #979797;
  margin: 0 auto;
  padding: 0 10px;
}
.fdfd_1 {
  position: absolute;
  left: 20px;
  top: 70px;
}
.fdfd_1 img {
  width: 250px;
  object-fit: cover;
}
.fdfd_2 {
  position: absolute;
  left: 300px;
  top: 80px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
.fdfd_3 {
  position: absolute;
  left: 300px;
  top: 125px;
  color: #979797;
  font-weight: 400;
  font-size: 14px;
}
.fdfd_3 em {
  font-weight: 500;
  font-style: normal;
}
.fdfd_4 em {
  font-weight: 500;
  font-style: normal;
}
.fdfd_5 em {
  font-weight: 500;
  font-style: normal;
}
.fdfd_6 em {
  font-weight: 500;
  font-style: normal;
}

.fdfd_3 span {
  padding: 0 12px;
}
.fdfd_4 {
  position: absolute;
  left: 300px;
  top: 155px;
  color: #979797;
  font-weight: 400;
  font-size: 14px;
}
.fdfd_4 span {
  padding: 0 12px;
}
.fdfd_5 {
  position: absolute;
  left: 500px;
  top: 155px;
  color: #979797;
  font-weight: 400;
  font-size: 14px;
}
.fdfd_5 span {
  padding: 0 12px;
}
.fdfd_6 {
  position: absolute;
  left: 700px;
  top: 155px;
  color: #979797;
  font-weight: 400;
  font-size: 14px;
}
.fdfd_6 span {
  padding: 0 12px;
}
#selfooter {
  position: absolute;
  right: 0;
  top: 136px;
  height: 40px;
  width: 240px;
  border-radius: 40px;
  font-size: 15px;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
}
.footer_wrap {
  max-width: 1480px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.footers2 {
  background: #000;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 15px;
  color: #888;
}
/* 서브 페이지  */

/* 정의 */

.sub_bag {
  width: 100vw;
  height: 255px;
  margin-top: 100px;
  position: relative;
}
.sub_bag .sub_img {
  background-image: url(../images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: 20% 24%;
  font-size: 0;
  filter: brightness(50%);
}

.sub_bag > strong {
  font-size: 40px;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  text-shadow: 2px 2px 2px #333;
  line-height: 40px;
  transform: translate(-50%, -50%);
}
.sub_menu_box {
  width: 100%;
  height: 81px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
.sub_menu_box > .three_box {
  position: relative;
  margin: 0 auto;
  max-width: 1480px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.sub_menu_box > div > div > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  padding-left: 20px;
  font-size: 18px;
}
.sub_menu_box > .three_box > .homeBtn {
  height: 80px;
  width: 80px;
  background: #0d51c5;
  color: white;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_menu_box > div > .sub_category {
  height: 80px;
  width: 240px;
  border-right: 1px solid #e5e5e5;
}
.sub_menu_box > div > .sub_MenuBtn {
  height: 80px;
  position: relative;
  width: 240px;
  border-right: 1px solid #e5e5e5;
  display: block;
  line-height: 80px;
  font-size: 18px;
}
.sub_menu_box > div > .sub_MenuBtn > ul {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  box-shadow: 2px 2px 4px 0px #eee;
  padding: 20px 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0 0 10px 10px;
  z-index: 2;
  display: none;
}
.sub_menu_box > div > .sub_MenuBtn > ul > li > a {
  display: block;
  height: 44px;
  font-size: 16px;
  line-height: 42px;
  border-bottom: 1px solid #e5e5e5;
}
.sub_menu_box > div > .sub_MenuBtn > button {
  width: 100%;
  text-align: left;
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  font-size: 18px;
  border: 0;
  background: transparent;
}
.sub_menu_box > div > .sub_MenuBtn > button i {
  font-size: 24px;
}
.about_wrap {
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.about_wrap .title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}
.about_wrap .about_Intro {
  max-width: 1480px;
  margin: 0 auto;
  position: relative;
  margin-top: 0;
  font-family: "IBMPlexSansKR";
}
.about_wrap .about_Intro_sub_title {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorLogo);
  padding-top: 50px;
}
.about_wrap .about_Intro_text {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 600;
}
.about_wrap .about_Intro_sub {
  padding-top: 10px;
  color: rgb(0, 102, 51);
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
}
.four_intro {
  max-width: 1480px;
  margin: 0 auto;
  position: relative;
  margin-top: 0;
  font-family: "IBMPlexSansKR";
}
.four_intro .four_title {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorLogo);
  padding-top: 40px;
}

.four_intro .four_Desc {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

.four_intro .four_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  position: relative;
  padding-left: 10px;
}
.four_intro .four_list li {
  position: relative;
  padding-left: 15px;
}
.four_intro .four_list li:after {
  position: absolute;
  content: " ";
  left: 0;
  top: 30%;
  border: 2px solid var(--colorLogo);
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 50%;
}
.creed_box .creed_title {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorLogo);
  padding-top: 40px;
}

.creed_box .creed_intro {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 600;
}

.jci_creed_box .jci_creed_title {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorLogo);
  padding-top: 40px;
}

.jci_creed_box .creed_Desc {
  font-size: 16px;
  margin-top: 10px;
  line-height: 2.5;
}
.music_box .music_desc {
  text-align: center;
  padding-top: 20px;
}
.introduction_box {
  padding-top: 20px;
}
.introduction_list {
  display: flex;
  flex-wrap: wrap;
}
.introduction_list .item {
  width: calc(100% / 4 - 15px);
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
.introduction_list .item:nth-child(4n) {
  margin-right: 0;
}
.introduction_list .item img {
  width: 100%;
}
.introduction_list .item .desc {
  display: flex;
  width: 100%;
  background: #f5f5f5;
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 15px;
  justify-content: center;
}

.introduction_list .item .desc li span {
  font-size: 26px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  display: block;
}
.MemberHistory_btn {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

button.MemberHistoryButton {
  width: 150px;
  height: 50px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  border-radius: 10px;
}

.MemberActive {
  background: #0d51c5;
  color: white !important;
}
.introduction_MemberList table {
  width: 100%;
  text-align: center;
}
.introduction_MemberList {
  padding-top: 30px;
}
.introduction_MemberList table thead td {
  height: 40px;
  vertical-align: middle;
  background: var(--colorLogo);
  border: 1px solid white;
  color: white;
}

.introduction_MemberList table tbody td {
  height: 40px;
  vertical-align: middle;
  border: 1px solid#e5e5e5;
}
.history_title {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorLogo);
  padding-top: 50px;
  text-align: center;
}

.history_desc {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
.Articles_title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  color: #333;
  padding-top: 50px;
}

.sub_title {
  font-size: 19px;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 10px;
  color: var(--colorLogo);
}

.sub_desc {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 600;
}
ul.desc_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
.desc_item {
  font-weight: 400;
  line-height: 1.7;
}
.desc_item ul {
  padding-left: 16px;
  font-weight: 300;
}
.Map_box {
  text-align: center;
  padding-top: 30px;
}
.Map_box img {
  width: 800px;
}
.plan_box {
  padding-top: 30px;
}

.plan_box .plan_table {
  width: 100%;
  text-align: center;
}
.introduction_MemberList {
  padding-top: 30px;
}
.plan_box .plan_table thead th {
  height: 40px;
  vertical-align: middle;
  background: var(--colorLogo);
  border: 1px solid white;
  color: white;
}

.plan_box .plan_table tbody td {
  height: 40px;
  vertical-align: middle;
  border: 1px solid#e5e5e5;
}
.noticeheader p {
  padding: 15px 0;
  border-top: 2px solid #2c2c2c;
  border-bottom: 1px solid #d7d7d7;
  color: #222;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.notice_box {
  padding-top: 30px;
}
.noticeheader {
  display: flex;
  width: 100%;
}
.noticeList {
  padding-top: 20px;
}
.noticeList p:nth-child(1) {
  width: 7%;
}
.noticeList p:nth-child(2) {
  width: 61%;
}
.noticeList p:nth-child(3) {
  width: 10%;
}
.noticeList p:nth-child(4) {
  width: 12%;
}
.noticeList p:nth-child(5) {
  width: 10%;
}
li.noticeItem {
  display: flex;
  align-items: center;
}

li.noticeItem p {
  border-top: 0px solid #d7d7d7;
  border-bottom: 1px solid #c6c6c6;
  word-break: break-all;
  font-size: 14px;
  color: #222;
  font-weight: 400;
  padding: 15px 0;
  text-align: center;
}
.noticeItem p:nth-child(2) {
  text-align: left;
  padding: 15px 10px;
}

#ln_form {
  display: flex;
  justify-content: flex-end;
}
#ln_form select {
  outline: none;
  box-shadow: none;
  border: none;
  border: 1px solid #dddddd;
  margin-right: 10px;
  padding-left: 16px;
  padding-right: 20px;
  color: black;
  width: 150px;
}
#ln_form > div {
  display: flex;
}
#ln_form > div > input:first-child {
  outline: none;
  box-shadow: none;
  border: none;
  border: 1px solid #dddddd;
  width: 230px;
  height: 43px;
  padding-left: 16px;
  margin: 0;
  color: #8a8a8a;
}
#ln_form > div > input:last-child {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  width: 65px;
  height: 43px;
  background: black;
  color: #fff;
  cursor: pointer;
}
.gallery_list ul {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery_list ul li {
  width: calc(100% / 3 - 20px);
}
.gallery_list ul li img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gallery_desc {
  overflow: hidden;
  display: block;
  padding: 30px 10px;
  word-wrap: break-word;
  white-space: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.gallery_desc h3 {
  color: #1b1b1b;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.gallery_desc p {
  display: inline-block;
  font-size: 14px;
  color: #555;
  font-weight: 300;
}
.gallery_list ul li a:hover img {
  filter: brightness(80%);
}
.partner_intro table th {
  height: 40px;
  vertical-align: middle;
  background: var(--colorLogo);
  border: 1px solid white;
  color: white;
  width: 300px;
}

.partner_intro h1 {
  padding-bottom: 2rem;
  padding-top: 30px;
  text-align: left !important;
  font-size: 36px !important;
}
.partner_intro table td {
  vertical-align: middle;
  border: 1px solid#e5e5e5;
  padding: 10px;
}
